/* src/assets/components/AdminDashboard/DashboardFooter.css */
.dashboard-footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 15px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
  }
  