

  .css-dip3t8 {
    background-color:#00203FFF!important;
    padding: 0;
  }
  .ps-menu-button:hover{
    background-color: #2e76fd!important;
  }
  .ps-menu-button{
    color: rgb(152, 202, 13);
  }